//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.03 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Sat 02 19 15:26:38 2022

IO_LOC "LED[7]" 79;
IO_PORT "LED[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[6]" 80;
IO_PORT "LED[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[5]" 81;
IO_PORT "LED[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[4]" 82;
IO_PORT "LED[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[3]" 83;
IO_PORT "LED[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[2]" 84;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[1]" 85;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[0]" 86;
IO_PORT "LED[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CLRn" 77;
IO_PORT "CLRn" IO_TYPE=LVCMOS33 PULL_MODE=UP SINGLE_RESISTOR=ON BANK_VCCIO=3.3;
IO_LOC "CLK_100MHz" 63;
IO_PORT "CLK_100MHz" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
