//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.03
//Part Number: GW1NR-LV9QN88C6/I5
//Device: GW1NR-9
//Created Time: Mon 02 28 20:01:46 2022

IO_LOC "LED[8]" 79;
IO_PORT "LED[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[7]" 80;
IO_PORT "LED[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[6]" 81;
IO_PORT "LED[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[5]" 82;
IO_PORT "LED[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[4]" 83;
IO_PORT "LED[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[3]" 84;
IO_PORT "LED[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[2]" 85;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[1]" 86;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "UART_TX" 15;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "UART_RX" 16;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "USER_BTN" 77;
IO_PORT "USER_BTN" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CLK_100MHz" 63;
IO_PORT "CLK_100MHz" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
